*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

:root {
    --color-light-bg: #EAE8E4;
    --color-dark: #2D2D2D;
    --color-primary: #3C0C60;
    --color-text: #2D2D2D;
    --color-text-sec: #7D26C9;
    --color-text-light: #EAE8E4; 

    --font-primary: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
                    Roboto, 'Helvetica Neue', Arial, sans-serif;
}
body{
    font-family: var(--font-primary);
    font-weight: 400;
    color: var(--color-primary);
    background-color: var(--color-light-bg);
    line-height: 1.6;
}
h1, h2, h3{
    font-weight: 500;
    color: var(--color-text);
    margin-bottom: 1.6;
}
p{
    margin-bottom: 1em;
    font-weight: lighter;
}
a{
    color: var(--color-purple);
    text-decoration: none;
}
ul{
    list-style: none;
}
button{
    font-family: var(--font-primary);
    cursor: pointer;
    background: none; 
    border: none; 
}




.section__title {
    font-size: 1.75rem; 
    color: var(--color-text-primary);
    text-align: center;
    margin-bottom: 0.25em;
}
.section__subtitle{
    font-size: 1rem;
    color: #666;
}

main > section{
    padding: 40px 16px;
    overflow: hidden;
}


.hero-header {
    background-color: var(--color-dark);
    color: var(--color-text-light);
    height: 363.4285583496094px; 
    position: relative; 
    overflow: hidden; 
    background-image: url('Assets/icons/Logo_3d.png');
    background-repeat: no-repeat;
    
    
    background-size: auto 100%; 
    
   
    background-position: right center; 
    
    
}
.header__top-bar {
    display: flex;
    
    justify-content: flex-start; 
    align-items: center;
    
    
    gap: 16px; 

    position: absolute; 
    top: 16px; 
    left: 24px; 
    
    z-index: 10; 
}
.header__logo {
    width: 93px;
    height: 16px;
    

}




.header__nav {
    display: none; 
}
.header__nav ul {
    display: flex;
    gap: 20px; 
}
.header__nav a {
    color: var(--color-text-light);
    font-weight: 600;
}


.hero-header__content {
    
    position: absolute; 
    
    
    top: 70px; 
    
    left: 16px; 
    z-index: 5; 

   
    width: 180px;            
    height: 240px;           
    display: flex;
    flex-direction: column; 
    padding-top: 16px;       
    padding-bottom: 24px;    
    gap: 8px;                
}

.hero-header__content h1 {
    font-size: 24px; 
    line-height: 1.1;
    color: var(--color-text-light);
    
    
}

.hero-header__content p {
    font-size: 16px; 
    line-height: 1.4;
    color: var(--color-text-light);


}

.hero-header__scroll-down {
    position:relative;
    bottom: 10px; 
    left: 110px; 
    z-index: 5;
    width: 38px; 
    height: auto;
}

.header__nav--active {
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 

    position: absolute;
    top: 60px; 
    left: 0;
    width: 100%;
    height: auto; 
    
    background-color: var(--color-dark); 
    
    z-index: 9; 
}

.header__nav--active ul {
    flex-direction: column;
    padding-left: 0; 
    list-style: none; 
}

.header__nav--active li a {
    display: block;
    padding: 16px;
    text-align: center; 
    color: var(--color-text-light); 
    font-size: 1rem; 
    font-weight: 600;
    
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.header__nav--active .nav__back-button {
    display: none; 
}

.card-section h2 {
    text-align: left;
    margin-bottom: 0.5em;
}

.card-section > p {
    color: #666;
    text-align: left;
    margin-bottom: 2em;
}


.card-grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 24px; 
}


.card {
    background-color: #FFFFFF; 
    border-radius: 12px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    
    
    padding: 6px 6px 0 6px; 
}


.card img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
    border-radius: 8px; 
    margin-bottom: 16px; 
    display: block;
}


.card h3 {
    
    
    margin-bottom: 8px; 
    line-height: 1.3;
}

.card p {
    color: #666;
   
    
    padding-bottom: 16px; 
    margin-bottom: 0; 
    line-height: 1.5;
}

.cta-banner {
    background-color: var(--color-primary); 
    color: var(--color-text-light); 
    border-radius: 16px;
    padding: 16px; 

 
    height: 394px;
    width: 312px;
    
    
    display: flex; 
    flex-direction: column;
    gap: 24px; 
    
 
    margin-left: auto;
    margin-right: auto;

    
}


.cta-banner__title {
    color: var(--color-text-light); 
    text-align: left;
    margin-bottom: 0.5em;
}


.cta-banner__text {
    color: var(--color-text-light); 
    text-align: left;
    margin-bottom: 0; 
    line-height: 1.5;
}


.cta-banner__badges {
    display: flex;
    flex-direction: column; 
    gap: 12px; 
    
    
    align-items: center; 
}


.cta-banner__badges img {
    
    width: 264px;
    height: 77px;
}



.tag-section h2 {
    text-align: center; 
    margin-bottom: 1.5em; 
    
}


.tag-section__cloud {
    display: flex; 
    flex-wrap: wrap; 
    gap: 8px; 
    
    
    justify-content: center; 
}

.tag {
    color: var(--color-text-sec);
    border: 1px solid var(--color-text-sec);
    border-radius: 50px; 
    padding: 8px 16px;
    font-size: 0.9rem;
    font-weight: 700; 
    background-color: transparent; 
}

.card--text-only {
    background-color: #FFFFFF;
    border: 1px solid #D9C2EC; 
    padding: 24px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    border-radius: 16px; 
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    
    width: 312px;
    height: 246px;
}

.card--text-only h3 {
    padding: 0; 
    margin-bottom: 0.5em;
    text-align: center; 
}

.card--text-only p {
    padding: 0; 
    margin-bottom: 1.5em; 
    text-align: center; 
    flex-grow: 1; 
}

.card__link {
    background-color: #D9C2EC; 
    color: var(--color-primary); 
    text-decoration: none;
    text-align: center;
    font-weight: 700; 
    padding: 12px 16px;
    border-radius: 8px; 
    
    align-self: center; 
}


.footer {
    background-color: var(--color-dark);
    color: var(--color-text-light); 
    padding: 40px 16px; 

    display: flex;
    flex-direction: column;
    align-items: center; 
}


.footer__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.footer__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
}

.form-section__graphic {
    margin-bottom: 24px;
}

.form-section__content {
    margin-bottom: 24px;
}

.footer__social {
    margin-bottom: 24px; 
}

.footer__title {
    margin-bottom: 16px;
}

.footer__links-area {
    text-align: center; 
}

.footer__title {
    text-align: center;
}

.footer__nav {
    justify-content: center; 
}



.form-section__content {
    background-color: var(--color-light-bg); 
    color: var(--color-text); 
    border-radius: 16px;
    padding: 24px;
    width: 100%;
    max-width: 312px; 
}


.form-section__content h2 {
    text-align: left;
    margin-bottom: 0.5em;
}
.form-section__content p {
    text-align: left;
    color: #666;
    margin-bottom: 1.5em;
}


.form__grid {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form__group input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #D9C2EC;
    background-color: #FFFFFF;
}


.form__captcha {
    text-align: left;
    margin-top: 16px;
}
.form__captcha label {
    font-weight: 700;
    display: block;
    margin-bottom: 8px;
}
.captcha-group {
    display: flex;
    align-items: center;
    gap: 8px;
}
.captcha-group span {
    font-weight: 700;
    color: var(--color-primary); 
    background-color: #EAE8E4; 
    padding: 8px;
    border-radius: 4px;
}
.captcha-group input {
    width: 80px; 
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #D9C2EC;
}


.form button {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background-color: #D9C2EC;
    color: var(--color-primary);
    font-weight: 700;
    margin-top: 16px;
}


.footer__social {
    
    margin-bottom: 24px; 
}

.footer__social img {
    
    
    height: auto; 
}


.footer__title {
    color: var(--color-text-light); 
    text-align: center;
    font-weight: 700;
}


.footer__nav {
    display: flex;
    justify-content: center;
    gap: 16px; 
}
.footer__nav a {
    color: var(--color-text-light);
    text-decoration: none;
    font-size: 0.9rem;
}


@media (min-width: 768px) {
 
    
   .hero-header {
    background-color: var(--color-dark);
    height: 480px;
    background-image: url('Assets/icons/Logo3d_desk.png');
    background-repeat: no-repeat;
    
    
    background-size: auto 100%; 
    background-position: right center; 
    
    
    border-radius: 0 0 16px 16px; 
}

    
    .header__top-bar {
        top: 32px;
        left: 60px; 
        gap: 100px; 
    }

    .header__logo {
        width: 110px;
        height: auto;
    }

    .header__menu-toggle {
        display: none; 
    }

    .header__nav {
        display: block; 
    }

    .header__nav ul {
    display: flex;
    gap: 100px; 
    }

    .header__nav a {
        font-size: 1rem;
        font-weight: 500;
    }

 
    .hero-header__content {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0; 
        display: block; 
    }


    .hero-header__content h1,
    .hero-header__content p {
        padding-left: 60px; 
    }

    .hero-header__content h1 {
        padding-top: 150px; 
        font-size: 46px; 
    }

    .hero-header__content p {
        font-size: 24px; 
        max-width: 450px; 
    }

    
    .hero-header__scroll-down {
        position: absolute; 
        bottom: 40px; 
        left: 500px; 
        width: 70px;
        height: auto;
    }

    

   main > section {
        padding: 60px 60px;
    }

    .card-grid {
        display: grid;
        gap: 24px; 
    }

    .card-section h2{
        font-size: 40px;
        margin-bottom: 0.5em; 
    }
    .card-section p{
        font-size: 28px;
        margin-bottom: 2em; 
    }
    
    .card-grid:has(.card:not(.card--text-only)) {
        justify-content: flex-start; 
        grid-template-columns: repeat(4, 1fr);
    }

    .card:not(.card--text-only) {
        
        display: flex;
        flex-direction: column; 
        
        
        aspect-ratio: 1 / 1; 
        
        
        padding: 6px 6px 16px 6px;
        
        background-color: #FFFFFF;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    }
    
    .card:not(.card--text-only) img {
        width: 100%;
        height: 60%;
        
        
        min-height: 0; 
        
        object-fit: cover;
        border-radius: 8px;
        margin-bottom: 8px; 
    }

    
    .card:not(.card--text-only) h3 {
        margin-bottom: 8px;
        line-height: 1.3;
        font-size: 24px;
        
        
        color: var(--color-dark);
        
        
        
        
        flex-shrink: 0; 
    }

    
    .card:not(.card--text-only) p {
        margin-bottom: 0;
        line-height: 1.5;
        font-size: 20px;
        
        
        
        
        color: #666; 
    
        
        
        
        flex-shrink: 0;
    }

    

    .card-grid:has(.card--text-only) {
        justify-content: center;
        grid-template-columns: repeat(3, 312px);
    }

    .card--text-only {
        margin-left: 0;
        margin-right: 0;
        height: auto;
    }

   .image-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3fr 7fr;
        gap: 24px;
        align-items: start;
        overflow: visible; 
    }

    .image-section__text {
        grid-column: 1;
        grid-row: 1;
    }
        .image-section h2 {
        text-align: left;
        font-size: 40px;
        margin-bottom: 0.5em;
    }

    .image-section p {
        text-align: left;
        font-size: 28px;
        margin-bottom: 0;
        color: #666;
    }

    
    .image-section__image--large {
        grid-column: 1;
        grid-row: 2;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 70px; 
        overflow: hidden;
        
    }

    
    .image-section__grid {
        grid-column: 2;
        grid-row: 1 / span 2; 
        display: grid;
        gap: 24px;
        grid-template-rows: 1fr 1fr;
    }
    
    
    .image-section__grid .image-section__image {
         width: 100%;
         height: 100%;
         object-fit: cover;
         border-radius: 70px; 
         overflow: hidden; 
    }
    main > section.cta-banner {
        
        padding: 40px; 
        
        
        margin-left: 60px;
        margin-right: 60px;
    }

    .cta-banner {
        
        height: auto;
        
        
        width: auto; 
        

       
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
    }

    
    .cta-banner__content {
        flex: 1; 
    }

    .cta-banner__title {
        font-size: 40px; 
        margin-bottom: 0.25em;
    }

    .cta-banner__text {
        font-size: 28px; 
        color: var(--color-text-light);
    }

    .cta-banner__badges {
        flex-shrink: 0; 
    }

    .tag-section h2 {
        text-align: center; 
        font-size: 40px;
    }

    .tag-section__cloud {
        
        max-width: 900px; 
        
        
        margin-left: auto;
        margin-right: auto;
        
        
        justify-content: center; 
    }

    .card-grid:has(.card--text-only) {
        justify-content: center;
        grid-template-columns: repeat(3, 312px);
    }

    .card--text-only {
        margin-left: 0;
        margin-right: 0;
        
        
        height: auto; 
    }
    .footer {
        align-items: stretch; 
        padding: 60px;
    }

    .footer__top {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 24px;
        align-items: center; 
    }

    .form-section__content {
        max-width: 100%; 
        margin-bottom: 0; 
    }
    
    .form-section__subtext {
        font-size: 0.9rem;
        color: #666;
        margin-bottom: 1.5em;
        text-align: left; 
    }
    

    .form__grid {
        display: grid; 
        grid-template-columns: 1fr 1fr;
        gap: 12px; 
    }

    .form__group label {
        display: none;
    }
    
    .form__group input {
        background-color: #FFFFFF; 
    }
    
    .form__button {
        width: auto; 
        padding: 12px 24px;
        border-radius: 8px;
        background-color: #D9C2EC;
        color: var(--color-primary);
        font-weight: 700;
        margin-top: 16px;
    }

    .form-section__graphic {
        margin-bottom: 0; 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form-section__graphic img {
        width: 100%;
        max-width: 300px; 
    }

    .footer__divider {
        width: 100%;
        border: none;
        border-top: 1px solid #555; 
        margin: 40px 0;
    }

    .footer__bottom {
        display: flex;
        
        flex-direction: column;
        
        
        align-items: center;
        
        gap: 24px;
    }

    .footer__social {
        display: flex;
        gap: 16px; 
        margin-bottom: 0; 
    }
    
    .footer__social img {
        width: auto; 
        height: 24px; 
    }

    .footer__links-area {
        text-align: center; 
    }
    
    .footer__title {
        color: var(--color-text-light);
        text-align: center;
        margin-bottom: 16px;
    }
    
    .footer__nav {
        justify-content: center; 
        gap: 24px;
    }
}